name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          node-version: 10
      - run: yarn install
      - run: yarn run publish
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
      
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: dist_electron
          path: dist_electron
